*.py[cod]
lib
*.so
*.egg
*.egg-info
dist
eggs
nosetests.xml
build
app.db
parts
bin
microblog.log*
var
sdist
.mr.developer.cfg
develop-eggs
.installed.cfg
lib64
__pycache__
pip-log.txt
.coverage
.tox
.project
.pydevproject
venv
