* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #34302d;
}

li, a {
	color: #f5e7de;
	font-size: 16px;
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background: #bd3b3b;
	height: 80px;
}

.navbar_logo {
	cursor: pointer;
	font-weight: bolder;
	font-size: xx-large;
	color: #ef9849;
}

.navbar_menu {
	list-style: none;
}

.navbar_menu li {
	display: inline-block;
	padding: 0px 20px;
}

.navbar_menu li a {
	transition: all 0.3s ease 0s;
}

.navbar_menu li a:hover {
	color: #f6b98a;
}

button {
	padding: 9px 25px;
	background-color: #5b7a8c;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: #f5e7de;
}


button:hover {
	background-color: #395c78;
}

#submit {
	padding: 9px 25px;
	background-color: #5b7a8c;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	font-weight: bold;
	color: #f5e7de;
}

#submit:hover {
	background-color: #395c78;
}

.text{
	background-color: #5b7a8c;
	width: 8%;
	padding: 8px;
}

.text a{
	display: flex;
	justify-content: center;
	align-items: center;
}

.text:hover {
	background-color: #395c78;
}

.title_h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
	font-weight: bold;
	color: #272422;
	padding-bottom: 2%;
}

.title_h2 {
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: large;
	font-weight: bold;
	color: #6b6a65;
	padding-left: 2%;
}

.title_h2 a{
	display: flex;
	justify-content: start;
	align-items: end;
	font-size: large;
	font-weight: bold;
	color: #6b6a65;
	padding-left: 2%;
}

.subtitle {
	display: flex;
	justify-content: center;
	color: #6b6a65;
}

#user_posts.title_h2{
	color: #272422;
	font-size: x-large;
}

#user_comments.title_h2{
	color: #272422;
	font-size: x-large;
}

.form-group {
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group input {
	padding: 10px 10px;
	width: 25%;
	display: inline-block;
	background-color: #c1a18a;
	color: #34302d;
	border: none;
}

.form-group input:focus {
	outline: none;
}

.form-group textarea {
	padding: 10px 10px;
	display: inline-block;
	background-color: #c1a18a;
	color: #34302d;
	border: none;
}

.form-group textarea:focus {
	outline: none;
}

.form-group textarea #post_create{
	width: 25%;
}

.container {
	background-color: #dabdab;
	margin: 2% 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.threads {
	table-layout: fixed;
	padding: 0 2%;
	display: table;
	width: 100%;
	border-spacing: 0 0.5em;
	border-collapse: separate;
}

.posts {
	text-align: center;
	background-color: #c1a18a;
}

.td_posts {
	padding: 10px 10px;
}

.post_p {
	padding: 10px 10px;
}

.replies {
	text-align: center;
	background-color: #c1a18a;
}

.title_td a {
	font-weight: bold;
	font-size: x-large;
	color: #913a1e;
	word-wrap: break-word;
   	width: 100px;
}

.title_p a {
	font-weight: bold;
	font-size: x-large;
	color: #913a1e;
	word-wrap: break-word;
   	width: 100px;
}

.author_td a {
	color: #756558;
	word-wrap: break-word;
   	width: 100px;
}

.author_p a {
	color: #756558;
	word-wrap: break-word;
   	width: 100px;
}

#description {
	width:80%;
}

.description_td {
	margin-top: 15px;
}

.description_p {
	margin-top: 15px;
}

.description_p a {
	color: #272422;
	word-wrap: break-word;
   	width: 100px;
}

.description_r a {
	color: #272422;
	word-wrap: break-word;
   	width: 100px;
}

.description_td a {
	color: #272422;
	word-wrap: break-word;
   	width: 100px;
}

.section_td a {
	color: #272422;
	font-weight: bold;
	font-size: x-large;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #272422;
	font-weight: bold;
}

.msg {
	background: #bd3b3b;
	color: #f5e7de;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 5px;
	margin: 0 30%;
}

.msg li {
	list-style: none;
}

.required_field {
	display: flex;
	justify-content: center;
	align-items: center;
	}

.create {
	background-color: #5b7a8c;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
	margin: 0 45%;
}

.create:hover {
	background-color: #395c78;
}

.h2 {
	font-size: xx-large;
	font-weight: bold;
	color: #272422;
	padding-bottom: 2%;
	margin: 0 2%;
}

.comments {
	text-align: center;
	background-color: #c1a18a;
}

.replies_r {
	padding: 10px 10px;
}

.link_r a {
	color: #913a1e;
	word-wrap: break-word;
   	width: 100px;
}

.page_buttons {
	margin: 0 5%;
	display: flex;
	justify-content: flex-end;
}

.prev_page {
	background-color: #282523;
	border-radius: 0px;
}

.prev_page:hover {
	background-color: #bd3b3b;
}

.next_page {
	background-color: #282523;
	border-radius: 0px;
}

.next_page:hover {
	background-color: #bd3b3b;
}

label a{
	color: #272422;
}
