{% extends "post_comment_layout.html" %}

{% block description %}

	<table class="threads"> <tbody>
			<tr class="posts">
				<td class="post_p">
					<div class="author_p"><a href="{{ url_for('user', username=comment.author.username) }}">Commented by: {{ comment.author.username }} | Date commented: {{ comment.timestamp }} </a></div>
					<div class="description_p"><a>{{ comment.description }}</a></div>
				</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
{% block etc %}
<div class="h2">
	Replies
</div>
{% endblock %}
{% block replies %}

	{% for reply in replies %}
	<table class="replies">
		<tbody>
			<tr class="replies">
				<td class="replies_r">
					<div class="link_r"><a href="">{{ reply_link }}</a></div>
					<div class="author_r"><a href="">{{ reply.author }}</a></div>
					<div class="description_r"><a href="">{{ reply.description }}</a></div>
				</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}

{% endblock %}
