{% extends "layout.html" %}

{% block title %}Reply{% endblock %}

{% block body %}

<form action="{{ url_for('main.create_a_reply', section=section, post_id=post.id, comment_id=parent.id) }}" method="post" novalidate>
	{{ form.hidden_tag() }}
	<label>Add a Reply</label>
	<div class="form-group">
		{{ form.description(cols=150, rows=8, placeholder="Post description") }}
	</div>
	{% for error in form.description.errors %}
	<span class="required_field" style="color: #bd3b3b;">[{{ error }}]</span>
	{% endfor %}
	<div class="form-group">
		{{ form.submit() }}
</div>

{% endblock %}
