{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

	<div class="title_h1">Recent</div>
	<table class="threads">
		<tbody>
			{% for posts in post %}
			<tr class="posts">
				<td class="td_section">
					<div class="section_td"><a href="">{{ posts.section }}</a></div>
				</td>
				<td class="td_posts">
					<div class="title_td"><a href="">{{ posts.title }}</a></div>
					<div class="author_td"><a href="">Posted by: {{ posts.author }} | Posted on: {{ posts.date }}</a></div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
