{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}

	<div class="title_h1">
		Log in to an Account
	</div>

	<form action="{{ url_for('login') }}" method="post" novalidate>
		{{ form.hidden_tag() }}
		{{ form.username.label }}
		<div class="form-group">
			{{ form.username(size=32, placeholder="Your Username", autocomplete="off") }}
		</div>
		{% for error in form.username.errors %}
		<span class="required_field" style="color: #bd3b3b;">[{{ error }}]</span>
		{% endfor %}
		{{ form.password.label }}
		<div class="form-group">
			{{ form.password(size=32, placeholder="Your Password") }}
		</div>
		{% for error in form.password.errors %}
		<span class="required_field" style="color: #bd3b3b;">[{{ error }}]</span>
		{% endfor %}
		<div class="form-group">
			{{ form.submit() }}
		</div>
	</form>

{% endblock %}
