{% extends "post_comment_layout.html" %}

{% block p_title %} {{ post_title }} {% endblock %}

{% block description %}

	<table class="threads"> <tbody>
			<tr class="posts">
				<td class="post_p">
					<div class="title_p"><a>{{ post.title }}</a></div>
					<div class="author_p"><a href="{{ url_for('user', username=post.author.username) }}">Posted by: {{ post.author.username }} | Date Posted: {{ post.timestamp }}</a></div>
					<div class="description_p">{{ post.description }}</div>
				</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
{% block etc %}
<div class="h2">
	Comments
</div>
{% endblock %}

{% block replies %}

{% if not current_user.is_anonymous %}
	<a href="{{ url_for('create_a_comment', section=section, post_id=post_id) }}"><button class='create'>Comment</button></a>
{% else %}
	<a href="{{ url_for('login') }}"><button class='create'>Login to Comment</button></a>
{% endif %}

	<table class="threads">
		<tbody>
		{% for comment in comments %}
			<tr class="comments">
				<td class="replies_r">
					<div class="link_r"><a href="{{ url_for('comment', post_id=comment.post_id, comment_id=comment.id, section=section)}}">{{ comment.id }}</a></div>
					<div class="author_p"><a href="{{ url_for('user', username=comment.author.username) }}">Commented by: {{ comment.author.username }} | Date commented: {{ comment.timestamp }} </a></div>
					{% if comment.parent %}
					<div class="replied_to"><a href="{{ url_for('comment', post_id=comment.parent.post_id, comment_id=comment.parent.id, section=section) }}">"{{ comment.parent.description }}"</a></div>
					{% endif %}
					<div class="description_p">{{ comment.description }}</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
		{% if next_url %}
		<a href="{{ next_url }}"><button class="next_page">Newer comments</button></a>
		{% endif %}
		{% if prev_url %}
		<a href="{{ prev_url }}"><button class="prev_page">Older comments</button></a>
		{% endif %}

{% endblock %}
