{% extends "post_comment_layout.html" %}

{% block p_title %} {{ post_title }} {% endblock %}

{% block description %}

	<table class="threads"> <tbody>
			<tr class="posts">
				<td class="post_p">
					<div class="title_p"><a>{{ post.title }}</a></div>
					<div class="author_p"><a href="">{{ post.author.username }}</a></div>
					<div class="description_p"><a>{{ post.description }}</a></div>
				</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
<div class="h2">
	Comments
</div>
{% block replies %}

	{% for comment in comments %}
	<table class="replies">
		<tbody>
			<tr class="replies">
				<td class="replies_r">
					<div class="link_r"><a href="">comment_link</a></div>
					<div class="author_r"><a href="">{{ comment.author.username }}</a></div>
					<div class="description_r"><a href="">{{ comment.description }}</a></div>
				</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}

{% endblock %}
