{% extends "post_comment_html.html" %}

{% block p_title %} {{ post_title }} {% endblock %}

{% block description %}

	<tr class="post">
		<td class="post_p">
			<div class="title_p"><a href="">title</a></div>
			<div class="author_p"><a href="">author</a></div>
			<div class="description_p"><a href="">description</a></div>
		</td>
	</tr>

{% endblock %}
<div class="h2">
	Comments
</div>
{% block replies %}

	<tr class="replies">
		<td class="replies_r">
			<div class="link_r"><a href="">link</a></div>
			<div class="author_r"><a href="">author</a></div>
			<div class="description_r"><a href="">description</a></div>
		</td>
	</tr>

{% endblock %}
