{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}

	<div class="title_h1">
		Create an Account
	</div>

	<form action="{{ url_for('register') }}" method="post">
		<div class="form-group">
			<input class="form-control" autocomplete="off" autofocus name="username" placeholder="Username" type="text">
		</div>
		<div class="form-group">
			<input class="form-control" name="password" placeholder="Password" type="password">
		</div>
		<div class="form-group">
			<input class="form-control" name="confirm_password" placeholder="Confirm Password" type="password">
		</div>
		<div class="form-group">
			<button class="button" type="submit">Sign Up</button>
		</div>
	</form>

{% endblock %}
