{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="title_h1">{{ user.username }}</div>
<div class="subtitle">Account created</div>
<div class="subtitle">{{ moment(user.timestamp).fromNow() }}</div>

<div class="title_h2"><div class="title_h2" id="user_posts">Posts</div>
<a href="{{ url_for('user_comments', username=user.username) }}">|Comments</a></div>

<table class="threads">
	<tbody>
		{% for post in posts %}
		<tr class="posts">
			<td class="td_posts">
				<div class="title_td"><a href="{{url_for('post', post_id=post.id, section=post.section)}}">{{ post.title }}</a></div>
				<div class="author_td"><a>Posted {{ moment(post.timestamp).fromNow() }}</a></div>
				<div class="description_td">{{ post.description }}</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% if prev_url %}
<a href="{{ prev_url }}"><button class="prev_page">Newer posts</button></a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}"><button class="next_page">Older posts</button></a>
{% endif %}

{% endblock %}
